@import './Variables.less';

body {
    margin: 0;
    font-family: @text-font, sans-serif;
    font-size: 14px;
    color: @base-text-color;
}

h3 {
    color: @dark-blue;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}