@import './Variables.less';

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: @dark-blue;
    .header-text;

    .menu-link-container {
        grid-column-start: 4;
        grid-column-end: -1;
        display: grid;
		grid-template-columns: repeat(3, 1fr);
    }

    .menu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
		height: 4em;      
        
        a {
            color: @white;
            text-decoration: none;
            padding-bottom: 2px;
        }
    
        a:hover {
            border-bottom: 2px solid @white;
        }
	}
	
	@media (max-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
	}
	
	@media (max-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
		.menu-link {
			height: 2em;
		}
	}
	
	@media (max-width: 400px) {
		grid-template-columns: repeat(1, 1fr);
		.menu-link {
			height: 2em;
		}
    }

}